	<header class="header">

<nav class="navbar navbar-expand-lg navbar-dark head">
  <a class="navbar-brand" href="/"><span class="nhl"><img src="/images/nhl.png" height="50px;"></span>NHL Post</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
      <form class="form-inline" action="/saved" method="POST">
        <a class="nav-link" href="/articles/saved">Saved Articles</a>
        </form>
      </li>
    </ul>
  </div>
</nav>
	</header>
<div class="jumbotron text-center tron">
    <div class="inside">
        <h1>Read the latest NHL news!</h1>
        <p>Click 'Scrape' to get the latest articles</p>
         <form action="/articles/scrape" method="GET">
    <button id="scrape-btn" class="btn btn-warning">Scrape New Articles</button></form>
    </div>
</div>

<div class="container articles" id="articles">
    {{#each articles}}

        <div class="card mb-3 cardz">
            <div class="card-body">
              <img class="img-fluid" src="{{this.image}}">
                <h3 class="card-title">
                    <a href="{{this.link}}" target="_blank" class="article-link">{{this.title}}</a>
                </h3>
                <p class="card-text">{{this.intro}}</p>
                {{#if this.saved}}
                    <button type="button" class="btn btn-default saved" data-id="{{this._id}}" disabled>Saved</button>
                {{else}}
                <form class="form-inline" action="/save/{{this.id}}" method="POST">
                 <input type="hidden" name="saved" value="1">
                    <button type="submit" class="btn btn-block btn-warning save-article-btn" data-id="{{this._id}}">Save Article</button>
                    </form>
                {{/if}}
            </div>
        </div>

    {{/each}}
</div>


